<% coach_profile = @lesson.coach&.coach_profile %>
<% coach_name = coach_profile&.display_name || @lesson.coach&.email || "Coach" %>
<% locked_message =
  if @lock_reason == :not_shared
    "This lesson is private and not shared with your account."
  elsif @lock_reason == :not_subscribed
    @lesson.restricted? ? "Subscribe required. This lesson is private and access is granted by the coach." : "Subscribe to unlock this lesson."
  else
    "Please log in to view this lesson."
  end %>

<div class="container lesson-page" data-controller="lesson-viewer">
  <%= render "lessons/lesson_header",
      lesson: @lesson,
      coach_profile: coach_profile,
      coach_name: coach_name,
      access_level: @access_level,
      media_slides: @media_slides,
      current_user: current_user %>

  <div class="lesson-workspace">
    <div class="lesson-workspace__main">
      <%= render "lessons/media_viewer",
          lesson: @lesson,
          access_level: @access_level,
          lock_reason: @lock_reason,
          locked_message: locked_message,
          coach_profile: coach_profile,
          media_slides: @media_slides %>

      <%= render "lessons/lesson_notes",
          lesson: @lesson,
          access_level: @access_level,
          locked_message: locked_message %>
    </div>

    <%= render "lessons/lesson_rail",
        lesson: @lesson,
        up_next: @up_next,
        media_slides: @media_slides,
        access_level: @access_level %>
  </div>

  <% if @can_view_lesson %>
    <%= render "lessons/comments_section",
        lesson: @lesson,
        root_comments: @root_comments,
        can_comment: @can_comment,
        can_reply: @can_reply,
        current_user: current_user %>
  <% end %>
</div>
