<% section_id = section[:category].id %>
<% selected = section_id == selected_section_id %>

<button
  type="button"
  class="vault-rail__item <%= 'is-active' if selected %>"
  data-student-vault-target="navItem"
  data-section-id="<%= section_id %>"
  data-category-type="<%= section[:category_type] %>"
  data-action="student-vault#selectSection"
>
  <span class="vault-rail__item-top">
    <span class="vault-rail__item-name"><%= section[:category].name %></span>
    <span class="vault-rail__item-count">
      <span data-student-vault-target="navVisibleCount"><%= section[:total_lessons] %></span> <%= section[:total_lessons] == 1 ? "lesson" : "lessons" %>
    </span>
  </span>
</button>
